<?xml version="1.0"?>
<launch>
  <!-- Associate to the robot description parameter, the urdf file that model the robot -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_app)/urdf/ur10e.xacro'" />

  <!-- Set position in empty world -->
  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.5" />

  <!-- Launch Gazebo world in paused state -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="true"/>
    <arg name="paused" value="true"/>
  </include>

  <!-- Spawn the robot using gazebo_ros -->
  <node name="spawn_the_robot" pkg="gazebo_ros" type="spawn_model" output="screen" 
        args="-urdf -param robot_description -model ur5 -x $(arg x) -y $(arg y) -z $(arg z)" />

  <!-- Load the controllers -->
  <rosparam command="load" file="$(find ur_app)/config/ur10e_eff_controllers.yaml"/>

  <!-- Load node controller manager -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        output="screen" respawn="false" ns="/ur10e"
        args="joint_state_controller eff_joint_traj_controller --timeout 60" />

  <!-- Convert joint states to TF transform for rviz and rqt -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" respawn="false">
    <remap from="/joint_states" to="/ur10e/joint_states"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <remap from="/joint_states" to="/ur10e/joint_states"/>
  </node>

  <!-- MoveIt pipeline launching -->
  <include file="$(find ur_app_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false" />
  </include>

  <include file="$(find ur_app_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find ur_app_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find ur_app_config)/launch/moveit.rviz" />
  </include>
</launch>
